nav ul {
    list-style: none;
    display: flex;
    padding: 0px;
}


.botonesNavBar {
    display: flex;
    place-items: center;
    margin: auto; /* esto me sirve para centrar el div */
}

.boton {
    margin-left: 10px;
    margin-right: 10px;
}

footer {
    background-color: #ccc;
    clear: both;
    color: #333;
    text-align: center;
    padding: 5px 0;
    margin-top: 20px;
}

.encabezado {
    
    margin: auto;
}

.tituloEncabezado {
    display: flex;
    place-items: center;
    margin: auto;
    max-width: max-content;
}